<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Welcome</title>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>

<body class="">
    <div class="container mx-auto max-w-3xl">
        <div class="flex-col flex items-center h-screen justify-center">
            <h1 class="uppercase text-5xl text-gray-700 text-center">Simple REST API with Deno & MongoDB</h1>
            <div class="mt-5 xl:text-left">
                <a href="https://github.com/revell29/Simple_REST_API_with_Deno" target="_blank"
                    class="bg-gray-700 text-white px-6 py-2 rounded-lg hover:bg-gray-800 flex items-center">
                    <svg width="20" height="20" class="mr-3" viewBox="0 0 293 293" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M273.346 74.7064C260.246 51.7242 242.476 33.5292 220.032 20.1172C197.585 6.70461 173.079 0 146.498 0C119.919 0 95.4058 6.70666 72.9632 20.1172C50.5173 33.5285 32.7482 51.7242 19.6478 74.7064C6.54951 97.6878 0 122.784 0 149.993C0 182.679 9.31349 212.07 27.9451 238.175C46.5748 264.282 70.6415 282.347 100.143 292.372C103.577 293.024 106.12 292.565 107.773 291.006C109.426 289.445 110.252 287.49 110.252 285.149C110.252 284.759 110.219 281.245 110.156 274.603C110.09 267.961 110.059 262.167 110.059 257.223L105.672 258.001C102.875 258.525 99.3456 258.748 95.0851 258.685C90.8265 258.624 86.4056 258.167 81.8284 257.317C77.2492 256.475 72.9899 254.522 69.0474 251.462C65.1069 248.402 62.3095 244.397 60.6559 239.453L58.7485 234.958C57.477 231.966 55.4754 228.642 52.7408 224.999C50.0062 221.352 47.2409 218.88 44.4435 217.578L43.1079 216.599C42.218 215.949 41.3922 215.164 40.6286 214.253C39.8656 213.343 39.2944 212.432 38.9129 211.519C38.5307 210.606 38.8474 209.857 39.8663 209.269C40.8851 208.682 42.7265 208.396 45.3982 208.396L49.2118 208.98C51.7553 209.502 54.9015 211.061 58.6543 213.666C62.405 216.27 65.4884 219.655 67.9049 223.819C70.8313 229.159 74.3569 233.228 78.4918 236.028C82.6234 238.828 86.7891 240.226 90.9849 240.226C95.1806 240.226 98.8045 239.9 101.858 239.252C104.908 238.601 107.769 237.622 110.441 236.321C111.585 227.593 114.702 220.889 119.787 216.202C112.539 215.422 106.023 214.248 100.235 212.686C94.4504 211.122 88.4728 208.584 82.3061 205.066C76.1361 201.551 71.0177 197.188 66.9495 191.982C62.8807 186.773 59.5415 179.935 56.9365 171.474C54.3302 163.009 53.0267 153.245 53.0267 142.178C53.0267 126.42 58.0509 113.011 68.0974 101.943C63.3912 90.096 63.8355 76.8154 69.4316 62.1023C73.1195 60.9291 78.5887 61.8095 85.8364 64.738C93.0854 67.6679 98.3929 70.1778 101.764 72.2587C105.135 74.339 107.837 76.1019 109.872 77.5316C121.701 74.1475 133.908 72.4551 146.496 72.4551C159.085 72.4551 171.295 74.1475 183.124 77.5316L190.373 72.8464C195.329 69.7201 201.183 66.8552 207.919 64.251C214.658 61.6481 219.812 60.9312 223.375 62.1043C229.095 76.8181 229.605 90.098 224.897 101.945C234.943 113.013 239.969 126.426 239.969 142.18C239.969 153.247 238.661 163.042 236.059 171.572C233.453 180.103 230.085 186.934 225.954 192.08C221.817 197.225 216.666 201.554 210.499 205.068C204.331 208.584 198.352 211.122 192.567 212.685C186.78 214.249 180.264 215.424 173.016 216.206C179.627 222.063 182.932 231.308 182.932 243.937V285.144C182.932 287.485 183.728 289.439 185.319 291.001C186.908 292.56 189.419 293.019 192.853 292.366C222.358 282.342 246.425 264.276 265.054 238.169C283.681 212.064 292.998 182.673 292.998 149.988C292.991 122.782 286.438 97.6878 273.346 74.7064Z"
                            fill="white" />
                    </svg>

                    Github</a>
            </div>
        </div>
</body>

</html>